

<section class="section-products">
  <div class="container">
      <div class="row justify-content-center text-center">
          <div class="col-md-8 col-lg-6">
              <div class="header">
                  <!-- <h3>Featured Product</h3> -->
                  <h2>Popular Products</h2>
              </div>
          </div>
      </div>
      <div class="row product_main">
          <!-- Single Product -->
          <div class="product-card col-md-6 col-lg-4 col-xl-3" *ngFor="let data of ProductDetails">
              <div id="product-1" class="single-product">
                  <div class="part-1">
                    <div class="image-box">
                      <div class="images">
                        <img [src]="data.image" width="320" height="300">
                      </div>
                    </div>
                    <!-- <img [src]="data.image" width="300" height="300"> -->
                      <ul>
                          <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                          <li><a href="#"><i class="fas fa-heart"></i></a></li>
                          <li><a href="#"><i class="fas fa-plus"></i></a></li>
                          <li><a href="#"><i class="fas fa-expand"></i></a></li>
                      </ul>
                  </div>
                  <div class="part-2">
                      <h3 class="product-title">{{data.title}}</h3>
                      <!-- <h4 class="product-old-price">Rs. {{data.price}}</h4> -->
                      <h4 class="product-price">$ {{data.price}}</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>

      <!-- ---------------------------------------------------------------------------- -->

      <div class="container-xl mt-4">
        <div class="row">
          <div class="col-md-12">
            <h2 class="featured-products">Featured <b>Products</b></h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">

            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="item carousel-item active" [ngClass]="{'active': i==0}" *ngFor="let data of ProductDetails; let i = index">
                <div class="row" >
                  <div class="col-md-12">
                    <div class="thumb-wrapper">
                      <!-- <span class="wish-icon"><i class="fa fa-heart-o"></i></span> -->
                      <div class="img-box">
                        <img [src]="data.image" width="120" height="300">
                      </div>
                      <div class="thumb-content">
                        <h4 class="title-text">{{data.title}}</h4>
                        <div class="col-12">
                          <p class="description">{{data.description}}</p>
                        </div>
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <!-- <li class="list-inline-item"><i class="fa fa-star-o"></i></li> -->
                          </ul>
                        </div>
                        <p class="item-price"><b>${{data.price}}</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          </div>
        </div>
      </div>

      <div class="social-media mt-4 mb-4">
        <ul class="socialIcons">
          <li class="facebook"><a href=""><i class="fa-brands fa-facebook mr-1"></i>Facebook</a></li>
          <li class="twitter"><a href=""><i class="fa-brands fa-twitter mr-1"></i>Twitter</a></li>
          <li class="instagram"><a href=""><i class="fa-brands fa-instagram mr-1"></i>Instagram</a></li>
          <li class="pinterest"><a href=""><i class="fa-brands fa-pinterest-p mr-1"></i>Pinterest</a></li>
          <li class="linkedin"><a href=""><i class="fa-brands fa-linkedin mr-1"></i>Linkedin</a></li>
        </ul>
      </div>


</section>
